<h2 class="title">A Nerd Fashion</h2>

<p>A <strong>Nerd</strong> Fashion é a maior empresa comércio eletrônico no segmento de moda geek/nerd em todo o mundo. 
Fundada em 2010 por três jovens revolucionários que desejavam levar produtos de qualidade para esse público
a um preço acessível.</p>

<p>Nossa fábrica fica em <a href="https://maps.google.com.br/?q=Goiânia" target="_blank">Goiânia - Goiás</a>. De lá, saem todos os produtos que confeccionamos seguindo um rigoroso sistema 
de controle de qualidade. Veja onde fica armazenado nosso estoque:</p>

<figure class="bordered">
	<%= image_tag("fabrica.jpg", alt: 'Foto do estoque') %>
	<figcaption>Centro de distribuição da Nerd Fashion</figcaption>
</figure>

<h3 class="title">História</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque vulputate leo nec pharetra. Nam massa justo, facilisis ut feugiat vel, sagittis et tortor. Sed luctus nibh libero, eget dictum nisl convallis ullamcorper. Vivamus viverra vulputate vehicula. Curabitur ut purus vitae justo vestibulum vulputate vel nec orci. Suspendisse vestibulum dapibus ex.</p> 

<p>Aliquam hendrerit placerat laoreet. Vivamus vestibulum arcu non mi suscipit, eget sodales turpis convallis. Donec et nisi ac risus scelerisque posuere sit amet eget leo. Proin eu enim nibh. Donec a sodales ipsum. Aenean in varius felis. Donec interdum enim eu nunc ornare, et luctus nulla cursus. Aliquam cursus, quam non gravida dignissim, justo tellus eleifend libero, id lacinia mi velit ultrices eros. Vestibulum facilisis nibh sapien, eu eleifend metus feugiat nec.</p>

<p>Vivamus et libero id orci varius elementum. Vivamus vitae ante cursus, dignissim nisl tristique, ultricies turpis. Vestibulum sit amet velit eu turpis lobortis porta nec non enim. Proin euismod arcu sagittis diam vulputate, eu tincidunt odio condimentum. Nulla ultrices lobortis mauris, ac pharetra nunc malesuada at. Phasellus at suscipit augue. Pellentesque sodales nulla ut est porttitor sodales. Ut elementum lacus non nulla varius rutrum. Mauris rhoncus turpis vel tempor cursus. Donec id fringilla sem. Vivamus venenatis dui tortor, in blandit velit congue id. Aenean suscipit vestibulum laoreet.</p>

<p>Donec facilisis massa vitae mi commodo, quis vulputate mauris tempor. Donec fermentum dictum est sed cursus. Aenean aliquam, erat quis lobortis gravida, tellus sem tempor ex, quis aliquam ligula neque id erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

<p>Donec lacinia tortor gravida, interdum neque a, tempor lectus. Donec in volutpat massa. Phasellus elementum odio id sapien pulvinar ullamcorper. Curabitur non tortor pulvinar ligula viverra euismod vitae id mauris. Ut ultricies commodo nulla, dignissim feugiat massa aliquam ac. Suspendisse arcu diam, mollis nec mi sit amet, consectetur semper tellus. Donec ac tellus lacinia, maximus augue id, auctor nulla.</p>

<figure class="text-center">
	<%= image_tag("nossa-equipe.jpeg", alt: 'Foto da equipe') %>
	<figcaption>Conheça a equipe Nerd Fashion</figcaption>
</figure>

<h3>Diferenciais</h3>

<ul>
	<li>Menor preço do varejo, garantido</li>
	<li>Se você achar uma loja mais barata, leva o produto de graça</li>
	<li>Pague em reais ou bitcoins</li>
	<li>Todas as compras com frete grátis para o Brasil</li>
	<li>Atendimento via telefone, email, chat, twitter, facebook, carta, fax e telegrama</li>
	<li>Aceitamos todas as formas de pagamento</li>
	<li>Produtos de excelente qualidade</li>
</ul>