<h2 class="title">Nerd Fashion.</h2>

<h4>Bem-vindo À Nerd Fashion, sua loja de roupas e acessórios nerds.</h4>

<ul>
	<li>Confira nossas promoções.</li>
	<li>Receba informações sobre nossos lançamentos por email.</li>
	<li>Navegue por todos nossos produtos em catálogo.</li>
	<li>Compre sem sair de casa.</li>
</ul>