<h2 class="title">Nerd Fashion. <i style="font-size: 18px;">Clube de assinatura para nerds.</i></h2>

<div class="page-title-wrapper text-center"><h2>O que oferecemos?</h2></div>

<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="text-center feature-block">
      <span class="fb-icon color-info">
        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
      </span>
      <h4 class="color-info">Camisetas</h4>
      <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
      <a href="javascript:void(0)" class="btn btn-info btn-custom">Click here</a>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-6 col-sm-6">
   <div class="text-center feature-block">
      <span class="fb-icon color-warning">
        <i class="fa fa-desktop" aria-hidden="true"></i>
      </span>
      <h4 class="color-warning">Livros</h4>
      <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
      <a href="javascript:void(0)" class="btn btn-warning btn-custom">Click here</a>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="text-center feature-block">
      <span class="fb-icon color-success">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </span>
      <h4 class="color-success">Posters</h4>
      <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
      <a href="javascript:void(0)" class="btn btn-success btn-custom">Click here</a>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="text-center feature-block">
      <span class="fb-icon color-danger">
        <i class="fa fa-fire" aria-hidden="true"></i>
      </span>
      <h4 class="color-danger">Colecionáveis</h4>
      <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
      <a href="javascript:void(0)" class="btn btn-danger btn-custom">Click here</a>
    </div>
  </div>
</div>