.logo_login{ 
	width: 100px; 
}

h2.title { 
	background-color: #B9D5C2; 
	padding: 5px; 
	margin-bottom: 50px;
}

figure.bordered { 
	background-color: #F2EDED; 
	border: 1px solid #ccc; 
	text-align: center; 
}

figcaption { 
	font-style: italic; 
}

.navbar-static-top{ 
	min-height: 125px !important;
}

.navbar-nav { 
	float: left; 
	margin: 0; 
	padding-top: 40px;
}

.navbar-right {
  margin-right: 15px !important;
}