// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo_login{ 
	width: 100px; 
}

h2.title { 
	background-image: url(title-background.jpg); 
	padding: 5px; 
}

h3 { 
	border-bottom: 2px solid #333333; 
}

figure.bordered { 
	background-color: #F2EDED; 
	border: 1px solid #ccc; 
	text-align: center; 
}

figcaption { 
	font-style: italic; 
}

.navbar-static-top{ 
	min-height: 125px !important;
}

.navbar-nav { 
	float: left; 
	margin: 0; 
	padding-top: 40px;
}

.navbar-right {
  margin-right: 15px !important;
}