<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar">Inicio</span>
				<span class="icon-bar">Sobre</span>
			</button>
			<a href="#" class="navbar-brand"><%= image_tag("icon-brand.png", class: 'logo_login', alt: 'Foto da logomarca') %></a>
		</div>
		<div class="navbar-collapse collapse" id="navbar">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Início</a></li>
				<li><a href="#about">Sobre</a></li>
				<li><a href="#about">Preços</a></li>
				<li><%= link_to "Contato", contact_index_path %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="./">Meu Carrinho</span></a></li>
				<li><a href="../navbar-fixed-top/">Sair</a></li>
			</ul>
		</div>
	</div>
</nav>